---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <script>
function toggleBibtex(url, id) {
  const box = document.getElementById("bibtex-" + id);
  const content = document.getElementById("bibtex-content-" + id);

  if (box.style.display === "none") {
    box.style.display = "block";

    if (content.innerText === "Loading...") {
      fetch(url)
        .then(response => response.text())
        .then(data => {
          content.innerText = data;
        });
    }
  } else {
    box.style.display = "none";
  }
}

function copyBibtex(id) {
  const text = document.getElementById("bibtex-content-" + id).innerText;

  navigator.clipboard.writeText(text).then(function() {
    alert("BibTeX copied to clipboard!");
  });
}
</script>


  </body>
</html>
